<!DOCTYPE html>
<html>
  <head>
    <title>Allen Tong</title>
  </head>
  <body>
    <h1>Allen Tong</h1>
    <h2>About Me</h2>
    <p>
      I am a sophomore CS major from San Francisco.</br>
      A fun fact about me: I can and will fall asleep anywhere, anytime. It's a talent.</br>
      What I'm most excited about in this class: I'm looking forward to gaining</br>
      experience with new tools and creating something I can show to my family and friends!</br>
    </p>
  </body>
</html>
